@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <input type="text" class="form-control message-input">
    <button class="btn btn-secondary send-btn">Send</button>
</div>
<div class="card card-body message-card">

</div>


@section Styles
{
    <environment names="Production, Development, Staging">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    </environment>
}

@section Scripts
{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script >
        $(function (){
           
        })
        const hubConnection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

        hubConnection.on("SendMessage", function(data) { 
            console.log(data)
            $(".message-card").append(data)
        })

        $(".send-btn").click(function() {
            const message = $(".message-input").val();
            hubConnection.invoke("SendMessage", message);
        })

        hubConnection.start();
    </script>
}
